section#ez-systems-1, section#ez-systems-2 {
    text-align: center;
}

section#ez-systems-1 h2, section#ez-systems-2 h2 {
    text-align: left;
}

section#ez-systems-1 img, section#ez-systems-2 img {
    border: none;
    box-shadow: none;
}

section#ez-systems-1 img {
    max-height: 30%;
}

section#ez-systems-2 img {
    max-height: 70%;
}

section#ez-systems-1 ul {
    display: block;
    float: left;
    width: 45%;
    font-size: 0.8em;
}

.under-construction h2 {
    color: white;
    position: absolute;
}

.under-construction img {
    min-width: 100%;
    min-height: 782px;
}