*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}


.theme-switch {
  justify-self: start;
  cursor: pointer;
}
